<!DOCTYPE html>
<html lang="en">
<head>
  <title>Habitab</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src ="{{ url_for('static', filename = 'js/ServerSideEvents.js') }}"></script>
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/popup.css') }}">
  <!-- <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/Common.css') }}"> -->

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Habitab</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" id = "content">
        {% block content %}
        <li><a href="#contact">About</a></li>
        {% if session['logged_in'] %} 
        <li><a href="{{ url_for('issue_board') }}">Issue Board</a></li>
        <li><a href="{{ url_for('report_issue') }}">Report Issue</a></li>
        <li><a href="{{ url_for('payment_portal') }}">Payment</a></li>
        <li> <a href="{{ url_for('Reminders') }}" class="notification">
              <span> Reminders </span>
              <span class="badge" id = "notificationValue"> 0 </span>
            </a>
        </li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
        <li><a href="{{ url_for('signup_page') }}">Signup</a></li>
        {% endif %}
        <li><div class="search-container">
            <input type="text" placeholder="Search.." name="search" id = "searchValue">
            <select style="margin-top: 3%; width : 200%;" id= "noOfBedrooms" >
              <option value="all">All</option>
              <option value="1">1 BHK</option>
              <option value="2">2 BHK</option>
              <option value="3">3 BHK</option>
              <option value=">3">>3 BHK</option>

            </select>
            <button type="submit" id = 'searchButton' ><i class="fa fa-search"></i></button>
        </div></li>
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
<br><br>
{% block body %}{% endblock %}
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'f4195c11-50e8-444f-a1d1-688e8f8d13d9', f: true }); done = true; } }; })();</script>
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center" style="color: #000">CONTACT</h2>
  <div class="rowsp">
      <p><span class="glyphicon glyphicon-map-marker"></span> PES University</p>
      <p><span class="glyphicon glyphicon-phone"></span> 9876543210</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Habitab@habitab.com</p>
  </div>
</div>
</footer>
<!-- <script type="text/javascript" src = "{{ url_for('static', filename = 'js/ReminderNotification.js') }}"></script> -->
</body>
</html>