{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Habitab</h1> 
  <h3 class="Tagline">Your Property, Our Priority</h3>
</div>
{% if apartmentExists == True %}
<div class="justforfun">
	<div  class = "apartmentDisplay">
	  		<div id="userApartment" >
	  			<h1 style="margin-left: -10px;margin-top:10px; color: #000">My Property</h1>
	    		<img style="margin-left: 15%;" src="{{url_for('static',filename=details.image)}}" alt="No Image Found!"/>
	    		<div id="apartmentDetails" style="margin-left: 40%">
	    		  <p><b>Owner: </b>{{details.landlordEmailId}}</p>
			      <p><b>Locality: </b>{{details.locality}}</p>
			      <p><b>Description: </b>{{details.description}}</p>
			      <p><b>Size: </b>{{details.noOfBedrooms}}</p>
			      <p><b>Rent-Amount: </b>{{details.rentAmount}}</p>
			      <p><b>Rent-Reminder: </b>{{details.rentReminderDate}}</p>
      				<button class = "cool">Docs Store</button>
      				<a href = "{{ url_for('payment_portal')}}" style="color: #333; font-size: 25px; text-decoration: none"> Pay Rent 
     		 	</div>
	  		</div>
	</div>
{% endif %}
	<div id="searchDisplay"></div>
	<center><p id="outputFeedBack" style="display:none; margin-top: 20px;"></p></center>
	<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Search.js') }}"></script>
</div>
{% endblock %}