{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Issue Board</h1>
                {% for key, value in issue_data.items() %}
                <div>
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 25px">Category : {{ value['issueCategory'] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 25px">Description : {{ value['issueDescription'] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 25px">Service Person : {{ value['serviceManName'] }}</p>
                </div>

                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 25px; display: block" id = "{{key}}-ServiceManMailId">Service Person MailId : {{ value['serviceManMailId'] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 25px">Date : {{ value['issueDate'] }} </p>
                </div>
                
                <div class="field-wrap" style="display: none" id = "{{ key }}-Feedback">
                  <textarea id = "{{ key }}-Feedback-Value" placeholder = "Feedback" ></textarea>
                  <br>
                  <select id = "{{ key }}-Feedback-Rating" >
                      <option value = "1" style = "color : #000000;">1</option>
                      <option value = "2" style = "color : #000000;">2</option>
                      <option value = "3" style = "color : #000000;">3</option>
                      <option value = "4" style = "color : #000000;">4</option>
                      <option value = "5" style = "color : #000000;">5</option>
                   </select>
                </div>
                
                <div class="field-wrap" id = "{{ key }}-Status">
                  {% if 0 ==  value['issueStatus'] and 0 == value["customerStatus"] %}
                    <input type="submit" class="button button-block" name = "submit" value = "Mark Completed" id = "{{ key }}" style = "background: red" onclick = "markIssueCompleted(this.id)"/>
                  
                  {% elif 0 == value["issueStatus"] and 1 == value["customerStatus"] %}
                  <div class="button button-block" style = "background: #F6A800; text-align: center" >
                        <p> Awaiting For ServiceMan  Feedback </p>
                  </div>
                  
                  {% else %}
                    <div class="button button-block" style = "background: #47AF00; text-align: center">
                        <p> {{ value['issueStatus'] }}</p>
                    </div>
                  {% endif %}
                </div></div>
                {% endfor %}
                
        </div>
  </div>

<script type="text/javascript" src = "{{ url_for('static', filename = 'js/issueBoard.js') }}"></script>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/MarkIssueComplete.js') }}"></script>
{% endblock %}