{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">  
          <h1>Welcome Back!</h1>
          
                <div class="field-wrap">
                  <input type="text" id="email" name = "email" placeholder="Email Id">
                </div>
                
                <div class="field-wrap">
                  <input type="password" id ="password" name = "password" placeholder="Password">
                </div>
                
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                
                <input type="submit" class="button button-block" name = "submit" value = "Log in" id = "user_login"/>
        </div>
</div>
<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Login.js') }}"></script>
{% endblock %}
