{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Payment</h1>
                
                <select id = "paymentMode" >
                      <option value = "Card" style = "color : #000000;">Card</option>
                      <option value = "Cash" style = "color : #000000;">Cash</option>
                      <option value = "Online Wallets" style = "color : #000000;">Online Wallets</option>
                   </select>
                
                <br>
                <div class="button button-block" style = "color: #FFFFFF; text-align: center">
                  <p type="text" id ="paymentAmount"></p>
                </div>
                <br>
                <button  class="button button-block" id = "make_payment">Make Payment</button>
        </div>
</div>
<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Payment.js') }}"></script>
{% endblock %}