{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Reminders</h1>
          {% for message in reminder_message %}
            <p> {{ message }} </p>
          {% endfor %}
        </div>
  </div>
{% endblock %}