{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Report Issue</h1>
                <div class="field-wrap">
                  <input type="text" id="issueCategory" name = "issueCategory" placeholder="Issue Category">
                </div>
                
                <div class="field-wrap">
                  <textarea id ="issueDetails" name = "issueDetails" placeholder="Description"></textarea> 
                </div>
                
                <input type="submit" class="button button-block" name = "submit" value = "Submit Issue" id = "submit_issue"/>
        </div>
</div>
<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/ReportIssue.js') }}"></script>
{% endblock %}
