{% extends "base.html" %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <div style="width:40%;margin-left:30px;">
            <select name="locations" onchange="window.location.href=this.value" style="background-color: darkgrey; width:auto;">
                {%for property in properties%}
                    <option value="/getAnalytics/{{ property[0] }}" {%if pid_selected == property[0]  %} selected {% endif %} >Property {{ property[0] }}</a></option>
                {% endfor %}
            </select>
        </div>

        <div class="gallery_item" >
            <div class="img-container">
                <img id="q" src="{{url_for('static',filename='barchart.png')}}" >
                <center><p>Seasonal Distribution of Issues</p></center>
            </div>
        </div>

        <div class="gallery_item" >
            <div class="img-container">
                <img id="q" src="{{url_for('static',filename='linechart.png')}}" >
                <center><p>Frequency of Issues vs Month</p></center>
            </div>
        </div>

        <div class="gallery_item" >
            <div class="img-container">
                <img id="q" src="{{url_for('static',filename='wordcloud.png')}}" >
                <center><p>WordCloud of Issue Description</p></center>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Integrate India's best interactive maps from MapmyIndia into your browser application by simply including MapmyIndia's interactive map API in your script source as shown in next line -->
        <script src="https://apis.mapmyindia.com/advancedmaps/v1/9cen891w2x67wo7pm9aypi1d41f8oczx/map_load?v=1.3"></script>
        <!-- <style>
            #map {	margin: 0;	padding: 0;width: 500px;height: 500px;}
        </style> -->
    
    <div>
        <div id="map" class="gallery_item_map" style="float:left; width:30%;"></div>
        <script>
            var map=new MapmyIndia.Map("map",{ center:{{centre}}, zoomControl: true, hybrid:true, search:true, location:true});
            {% for i in range(0, len) %}
                L.marker({{points[i]}}).addTo(map);
            {% endfor %}
        </script>

        <table style="background-color:lightsteelblue; color:black;float:left; width:auto; margin-top:250px;margin-left:30px;">
            <tr>
                <th>Company Name</th>
                <th>No of of Tenants</th>
            </tr>
            {%for i in range(0, len)%}
                {%if counts[i][1] != 0 %}
                    <tr>
                        <td> {{counts[i][0]}}</td> 
                        <td> {{counts[i][1]}}</td>     
                    </tr>
                {%endif%}
            {%endfor%}    
         </table> 
    </div>

        

<style>
    table, th, td
    {
        border: 1px solid black;
    }
    th,td{
        padding:10px;
    }
    .img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    }

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom img {
    transition: transform .5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .img-hover-zoom:hover img {
    transform: scale(1.5);
    }

    .gallery_item:hover 
    {
        transform: scale(1.5);
    }
    
    .gallery_item 
    {
    transition: transform .5s ease;
    flex:1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:400px;
    height:450px;
    /* height:500px; */
    font-family: arial;
    position:relative;
    margin:20px 60px;
    float:left;
    }

    .gallery_item_map
    {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:500px;
    height:500px;
    font-family: arial;
    position:relative;
    margin-left:500px;
    margin-top:60px;
    float:left;
    }

    .img-container{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    height:300px;
    }

    .img-container img{
        width:100%;
        height:100%;
    }
</style>
<script>
    var navBarContent = document.getElementById("content")
    var landlordHomeOption = document.createElement("li")
    var landlordHomeLink  = document.createElement("a")
    landlordHomeLink.innerHTML = "My Houses"
    landlordHomeLink.setAttribute("href", "{{ url_for('landlordview') }}")
    landlordHomeOption.appendChild(landlordHomeLink);
    navBarContent.appendChild(landlordHomeOption);

    var navBarContent = document.getElementById("content")
    var loginOption = document.createElement("li")
    var loginLink  = document.createElement("a")
    loginLink.innerHTML = "Logout"
    loginLink.setAttribute("href", "{{ url_for('user_logout') }}")
    loginOption.appendChild(loginLink);
    navBarContent.appendChild(loginOption);

    var body = document.getElementsByTagName("body")
    document.body.style.backgroundColor = "WhiteSmoke";
    document.body.style.backgroundImage = 'none';

</script>
{% endblock %}



