{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Habitab</h1> 
  <h3 class="Tagline">Tagline</h3>
</div>

<script>
  var navBarContent = document.getElementById("content")
  var loginOption = document.createElement("li")
  var loginLink  = document.createElement("a")
  loginLink.innerHTML = "Login"
  loginLink.setAttribute("href", "{{ url_for('login_page') }}")
  loginOption.appendChild(loginLink);
  navBarContent.appendChild(loginOption);
  
  var signUpOption = document.createElement("li")
  var signUpLink  = document.createElement("a")
  signUpLink.innerHTML = "Signup"
  signUpLink.setAttribute("href", "{{ url_for('signup_page') }}")
  signUpOption.appendChild(signUpLink);
  navBarContent.appendChild(signUpOption);
  
  
  </script>

{% endblock %}