{% include "base.html" %}

<div class='full-container'>
    <div class="below-form">
            <form action="/api/v1/add_property" class="form" enctype="multipart/form-data" method="POST">
                <h3>Want to add a new Property ?</h3>
                <input type="text" placeholder="locality" id="locality" name="locality">
                <input type="text" placeholder="bedrooms" id="noOfBedrooms" name="bedrooms">
                <input type="text" placeholder="rent" id="rentAmount" name="rentAmount">
                <textarea placeholder="description" style="height:150px;" id="description" name="description"></textarea>
                <input type="file" id="image" name="image">
                <input type="submit" class="button button-block"/>
            </form>

            <div class="form">
                <h3>What should my rent be?</h3>
                <input type="text" placeholder="locality" id="rentlocality" name="locality">
                <input type="text" placeholder="area" id="rentarea" name="area">
                <input type="text" placeholder="bedrooms" id="rentbedrooms" name="bedrooms">
                <select name="BHKorRK" id="BHKorRK">
                    <option value="0">BHK</option>
                    <option value="1">RK</option>
                    <option value="2">None</option>
                </select>
                <select name="TypeOfHouse" id="TypeOfHouse">
                    <option value="0">Apartment</option>
                    <option value="1">Penthouse</option>
                    <option value="2">Plot</option>
                    <option value="3">Row House</option>
                    <option value="4">Studio Apartment</option>
                    <option value="5">Town House</option>
                    <option value="6">Villa</option>
                    <option value="7">Villament</option>
                </select>
                <input type="submit" class="button button-block" id="getRent"/>

                <div id="Rent"></div>
            </div>
        </div>

        


        <div class="gallery" >

            <div style="width:50%;margin-left:30px;">
                <select name="locations" onchange="window.location.href=this.value" style="background-color: darkgrey; width:auto;">
                        <option value="/landlordview" {%if location_selected == "all" %}selected{% endif %}> All Locations</option>
                    {%for location in locations%}
                        <option value="/landlordview/{{ location }}" {%if location_selected == location  %} selected {% endif %} >{{ location }}</a></option>
                    {% endfor %}
                </select>
            </div>

    
        {% if propertiesExist == True %}
            {%for i in range(0, len)%}
                {%if i%2 == 0 %}
                    <div class="left-items gallery_item" style="background-color:transparent;">
                        <a href="/landlordview/property/{{ properties[i][0] }}" target="_self" >
                            <div class="img-container">
                                <img id="q" src="data:image/png;base64,{{images[i]}}" >
                            </div>

                            <div class="text-container">
                                <h4 style="display: none" class = "property-id"> Property Id:{{ properties[i][0] }}</h4>
                                <h4>Locality : {{properties[i][3]}}</h4>
                                <h4>No Of Bedrooms : {{properties[i][6]}}</h4>
                                <h4>Rent Amount : {{ properties[i][7]}}</h4>
                                <h4>Description : {{properties[i][1]}}</h4>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="right-items gallery_item" style="background-color:transparent;">
                            <div class="img-container">
                                <a href="/landlordview/property/{{ properties[i][0] }}" >
                                <img id="q" src="data:image/png;base64,{{images[i]}}" >
                            </div>

                            <div class="text-container" >
                                <h4 style="display: none" class = "property-id"> Property Id:{{ properties[i][0] }}</h4>
                                <h4>Locality : {{properties[i][3]}}</h4>
                                <h4>No Of Bedrooms : {{properties[i][6]}}</h4>
                                <h4>Rent Amount : {{ properties[i][7]}}</h4>
                                <h4>Description : {{properties[i][1]}}</h4>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
</div>


<script>
    var navBarContent = document.getElementById("content")
    var loginOption = document.createElement("li")
    var loginLink  = document.createElement("a")
    loginLink.innerHTML = "Logout"
    loginLink.setAttribute("href", "{{ url_for('user_logout') }}")
    loginOption.appendChild(loginLink);
    navBarContent.appendChild(loginOption);

    var propertyElement = document.getElementsByClassName("left-items gallery_item")
    if(propertyElement.length != 0) {
        var navBarContent = document.getElementById("content")
        var analyticsOption = document.createElement("li")
        var analyticsLink  = document.createElement("a")
        analyticsLink.innerHTML = "Analytics"

        var propertyIds = document.getElementsByClassName("property-id")
        
        // @author : Manish Soni
        analyticsLink.setAttribute("href", "/getAnalytics/" + propertyIds[0].innerHTML.split(":")[1])
        analyticsOption.appendChild(analyticsLink);
        navBarContent.appendChild(analyticsOption);
    }


</script>
<style>

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity:1; /* Firefox */
    }

    input,textarea{
        font-size:16px;
        color: black;
    }


    .button{
        margin-top:10px;
        padding:0px;
    }

    .below-form{
        float:right;
        width:20%;
        margin-right:20px;
        color: black;
    }



    .full-container{
        margin-top:40px;
        color: black;
    }

    .gallery{
        float:left;
        width:78%;
        opacity:1;
    }

    #form_right{
        width: 30%;
        box-sizing: border-box;
        float: right;
        padding: 10px;
        margin-top: 150px;
        margin-right: 20px;
        color:black;
    }

    h4{
        margin:0px;
        padding:0px;
    }

    .img-container{
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        width:100%;
        height:300px;
        opacity:1 ;
    }

    .img-container img{
        width:100%;
        height:100%;
        opacity:1;
    }

    .text-container{
        position: absolute;
        top:300px;
        left:0px;
        right:0px;
        width:100%;
        height:150px;
        padding:20px;
        background-color:darkgray;
    }

    .gallery_item {
        flex:1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width:300px;
        height:450px;
        /* height:500px; */
        font-family: arial;
        position:relative;
        margin:20px 30px;
        opacity:1;
    }

    .left-items{
        width:45%;
        float:left;
    }

    .right-items{
        width:45%;
        float:right;
    }
</style>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/landlordview.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    function extractRentCheckPropertyParameters(propertyObject)
    {
        propertyObject["locality"] = $("#rentlocality").val()
        propertyObject["area"] = $("#rentarea").val()
        propertyObject["bedrooms"] = $("#rentbedrooms").val()
        propertyObject["BHKorRK"] = $("#BHKorRK").val()
        propertyObject["TypeOfHouse"] = $("#TypeOfHouse").val()
        return propertyObject;
    }

    $('#getRent').on('click', function(e) {

          var propertyObject = {}
          propertyObject = extractRentCheckPropertyParameters(propertyObject);
          console.log(propertyObject)

            $.ajax({
            url : 'http://127.0.0.1:5004/api/v1/getRent',
            dataType : "json",
            type : "POST",
            contentType: "application/json",
            xhrFields: {withCredentials: false},
            crossDomain: true,
            data: JSON.stringify(propertyObject),
            success: function(data) {
                console.log(data)
                ans = document.getElementById("Rent");
                htag = document.createElement("h3")
                htag.innerHTML = "We suggest "+data["Rent"]+" as your rent !!"
                ans.appendChild(htag)

                // window.location.href = 'http://' + serverAddress + ":" + portNumber + '/landlordview'
            },
            error: function(jqXHR, textStatus, errorThrown) {
                statusCode = (jqXHR.status);
            }
            });

        });
</script>
</body>
</html>
