{% include "base.html" %}
  <div class="form">

        <div id="login">
          <h1>Welcome Back!</h1>

          {% for i in error %}
            <p id = "outputFeedBack" style="font-size: 20px; color: #FFFFFF">{{ i }}</p>
          {% endfor %}

                <div >
                  <input type="text" id="emailid" name = "email" placeholder="Email Id">
                </div>

                <div>
                  <input type="password" id ="pwd" name = "password" placeholder="Password">
                </div>


                <input type="submit" class="button button-block" name = "submit" value = "Log in" id = "user_login"/>
        </div>
</div>


{% include "Footer.html" %}
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Login.js') }}"></script>
</body>
</html>
