{% include "base.html" %}
  <div class="form">
       
        <div id="login">   
          <h1>House Data</h1>
                {% for data in new_house_request_data %}
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px; display: none">Property Id : {{ data["houseId"] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">No Of Bedrooms : {{ data["noOfBedrooms"] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">Locality : {{ data['locality'] }}</p>
                </div>

                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">Description : {{ data['description'] }}</p>
                </div>
                
                <div class="field-wrap" >
                  <p style="color : #FFFFFF; font-size: 20px">Rent Amount : {{ data['rentAmount'] }}</p>
                </div>

                <div class="field-wrap" >
                  <p style="color : #FFFFFF; font-size: 20px">Tenant Name : {{ data['tenantName'] }}</p>
                </div>

                <div class="field-wrap" >
                  <p style="color : #FFFFFF; font-size: 20px">Tenant Email Id : {{ data['tenantEmailId'] }}</p>
                </div>

                <div class="field-wrap" >
                  <p style="color : #FFFFFF; font-size: 20px">Tenant Current Place : {{ data['tenantCurrentPlace'] }}</p>
                </div>
                
                <div class="field-wrap">
                    <input type="submit" class="button button-block" name = "submit" value = "Approve" id = "{{ data['houseId'] }}" style = "background: #FFFFFF; color : #333"  onclick = "approveRequest(this.id)" />
                </div>
                {% endfor %}
        </div>
  </div>

{% include "Footer.html" %}
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/ApproveRequest.js') }}"></script>
</body>
</html>

