{% include "base.html" %}

<style>
    #files
    {
        width:100%;
    }
    #files td, #files th
    {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #files tr:nth-child(even){background-color: #f2f2f2;}
    #files tr:hover {background-color: #ddd;}
    #files th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color:cornflowerblue;
        color: white;
        }
</style>

<script type='text/javascript' data-cfasync='false'>
    window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'f4195c11-50e8-444f-a1d1-688e8f8d13d9', f: true }); done = true; } }; })();
</script>

<div style="float:left; margin:30px; padding:30px; max-width:800px; background-color:lightgrey;">
    <h1>Information</h1>
    <div style="float:left;margin-right:90px;">
        <h3> Property ID : {{propinfo[0]}}</h3>
        <h3>Locality : {{propinfo[3]}}</h3>
        <h3>No Of Bedrooms : {{propinfo[6]}}</h3>
        <h3>Rent Amount : {{ propinfo[7]}}</h3>
        <h3>Description : {{propinfo[1]}}</h3>
    </div>
    <div style="float:right;">
        <h3>Tenant:{{ tenantinfo[0] }}</h3>
        <h3>Tenant Email: {{ tenantinfo[6] }}</h3>
        <h3>Tenant PhNo: {{ tenantinfo[12] }}</h3>
    </div>
    
</div>

<div style="float:right;margin:30px; padding:30px; width:500px; background-color:lightgrey;">
    <h1>Doc Store</h1>
    <form action="/api/v1/add_file/{{propinfo[0]}}" method="POST" enctype="multipart/form-data">
        <input type='file' name='file'>
        <center><input type='submit' value='upload' class="button button-block" style="margin:20px;width:200px;padding:10px;"></center>
        </p>
    </form>

    <div>
        <table id="files">
            <tr>
                <th>File Name</th>
                <th>Last Modified</th>
            </tr>
        {% for file in files %}
            <tr>
                <td> {{ file["meta"]["filename"]}} </td>
                <td> {{ file["meta"]["uploaded_at"]}}</td>
                <td> <a href="/api/v1/download/{{ file['meta']['filename'] }}"> <img src="/static/download.jpeg" style="width:20px;"></a> </td>
            </tr>

        {% endfor %}
        </table>
    </div>
</div>

<script>
    var navBarContent = document.getElementById("content")
    var landlordHomeOption = document.createElement("li")
    var landlordHomeLink  = document.createElement("a")
    landlordHomeLink.innerHTML = "My Houses"
    landlordHomeLink.setAttribute("href", "{{ url_for('landlordview') }}")
    landlordHomeOption.appendChild(landlordHomeLink);
    navBarContent.appendChild(landlordHomeOption);

    var navBarContent = document.getElementById("content")
    var loginOption = document.createElement("li")
    var loginLink  = document.createElement("a")
    loginLink.innerHTML = "Logout"
    loginLink.setAttribute("href", "{{ url_for('user_logout') }}")
    loginOption.appendChild(loginLink);
    navBarContent.appendChild(loginOption);


</script>




