{% include  "base.html" %}
<div class="form">
  <div id="signup">   
    <h1>Sign Up</h1>
    <p id = "outputFeedBack" style="display: none; font-size: 20px"></p>
    <div id = "form">

      <div class="field-wrap">
        <input type="text" id = "firstName" autocomplete="off" placeholder="Name" />
      </div>

      <div class="field-wrap">
        <input type="text" id = "address" autocomplete="off" placeholder="Address" />
      </div>

      <div class="field-wrap">
        <input type="text" id = "phoneNumber" autocomplete="off" placeholder="Phone Number" />
      </div>

      <div class="top-row">
        <div class="field-wrap">
          <input type="text" id = "place" autocomplete="off" placeholder="Place" />
        </div>
    
        <div class="field-wrap">
          <input type="text" id = "state" autocomplete="off" placeholder="State" />
        </div>
      </div>

      <!-- <div class="field-wrap">
        <select id = "category">
          <option value = "Plumber" style = "color : #000000"> Plumber</option>
          <option value = "Electrician" style = "color : #000000"> Electrician</option>
        </select>
      </div>
       -->
       
      <div class="field-wrap">
        <input type="email" id = "email-Id" name = "email" autocomplete="off" placeholder="Email-Id" />
      </div>
      
      <div class="field-wrap">
        <input type="password" id = "password" name = "password" autocomplete="off" placeholder="Password" />
      </div>
      
      <button type="submit" class="button button-block" id = "user_signup">Get Started</button>
    
    </div>
  </div>      
</div>
      
{% include "Footer.html" %}
<script type="text/javascript">
  // For adding the content to navbar according to the page.
  var navBarContent = document.getElementById("content")
  var loginOption = document.createElement("li")
  var loginLink  = document.createElement("a")
  loginLink.innerHTML = "Login"
  loginLink.setAttribute("href", "{{ url_for('login_page') }}")
  loginOption.appendChild(loginLink);
  navBarContent.appendChild(loginOption);
</script>

<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Signup.js') }}"></script>
</body>
</html>
