html {
  height: 100%;
}
body {
    background-image: url("/static/image/bg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    line-height: 1.8;
    color: #818181;
    font-family: 'Titillium Web', sans-serif;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .Tagline {
  text-align: center;
  color: #000;
  font-weight: 300;
  margin: 0 0 5px;
  }
  .justforfun {
    min-height: 300px;
    padding: 30px 100px;
    margin: 10px 30px;
    /*opacity: 0.3;*/
    /*background-color: #000;*/
  }
  .apartmentDetails  {
    color: #000;
  }
  .searchDiv, .apartmentDisplay{
  margin:20px;
  width:auto;
  height:auto;
  min-height:300px;
  padding:5px;
  border-radius:10px;
  border:1px solid black;
  background: #fff;
}

.searchDiv p, .apartmentDisplay p{
  font-family: Trebuchet MS;
  font-weight: 20;*/
  color: #000;
  font-size: 20px;
  padding:5px;
}
#apartmentDetails button{
  width:auto;
  min-width:200px;
  padding:5px;
  margin:10px;
  height:auto;
  min-height: 50px;
  border-radius:3px;
  font-family: Montserrat;
  background-color: black;
  border:groove;
  color: white;
  font-style: italic;
}

.searchDiv img, .apartmentDisplay img{
  float:left;
  height:100%;
  min-height: 280px;
  overflow: hidden;
  margin:2px;
  border-radius: 10px;
  margin-right:20px;
}
#searchDisplay h3 {
  text-align: center;
  font-weight: bold;
  color: #000;
}

  .apartmentDisplay {
    opacity: 1 !important;
    background-color: #fff;
  }
  .jumbotron {
    background-color: #fff;
    opacity: 0.9;
    color: #000;
    margin-top: -10px;
    padding: 50px 30px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    color: #000;
    position: relative;
    width: 100%;
    bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #userApartment {
    color: #000;
  }
  .searchDisplay {
    background-color: #fff;
  }
  .bg-grey {
    background-color: #fff;
    opacity: 0.8;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #0f0f0f !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 0.9 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar  {
    color: #000 !important;
  }
  .nav .search-container {
  float: right;
  display: inline-flex;
}
.container {
  width: 90%;
}
  .nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
  .nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
  .nav .search-container button:hover {
  background: #ccc;
}
 .nav input[type=text], .nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 10px ;
    padding: 7px;
  }
.navbar input[type=text] {
    border: 1px solid #ccc; 
    color: #000; 
  }

  .navbar-img {
    height: 25px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #000 !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  .detail{
    font-size: 20px;
  }
<style type="text/css">
      *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.rowsp span {
  display: inline;
  vertical-align: middle;
  margin: 0 auto;
}
.rowsp {
  text-align: center;
}
.form {
  background: rgb(105,105,105, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  font-weight: bold;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: rgba(0,0,0, 0.4);
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #000;
}
.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.custom-serviceselect {
  font-family: 'Titillium Web', sans-serif;
}
.serviceselect {
  color: #fff;
  
  background-color: rgba(105,105,105, 0.9);
  border: 1px solid #a0b3b0;
  width: 190px;
  height: 50px;
}
.serviceselect:focus {
  min-width: 150px;
  background-color: rgb(105,105,105);
}
.serviceselect-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  }
