{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Habitab</h1> 
  <h3 class="Tagline">Tagline</h3>
</div>
<div class="justforfun"></div>
<script type="text/javascript" src ="{{ url_for('static', filename = 'js/Common.js') }}"></script>
{% endblock %}
