{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Service Man!</h1>
            {% for service_man in service_man_details %}
              <p style="text-align: center; font-size: 28px; color : #FFFFFF"> ------------------------------------------------ </p>
              <p style="text-align: center; font-size: 28px; color : #FFFFFF"> Name : {{ service_man["Name"]}} </p>
              <p style="text-align: center; font-size: 28px; color : #FFFFFF"> Place : {{ service_man["Place"]}} </p>
              <p style="text-align: center; font-size: 28px; color : #FFFFFF"> Rating : {{ service_man["Rating"]}} </p>
              <p style="text-align: center; font-size: 28px; color : #FFFFFF"> Phone Number : {{ service_man["PhoneNumber"]}} </p>
              <a href = {{ service_man["Link"]}} style="text-align: center; font-size: 28px; color : #FFFFFF"> <p> Click to view details </p></a>
            {% endfor %}
        </div>

</div>

<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
{% endblock %}
