{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Service Man!</h1>
            <form action = "{{ url_for('view_service_man_details') }}" method = "POST">
                <div class="field-wrap">
                  <input type="text" id = "category" name = "category" placeholder="Category">
                </div>
                
                <div class="field-wrap">
                  <input type="text" id = "location" name = "location" placeholder="Location">
                </div>
                
                <input type="submit" class="button button-block" name = "submit" value = "Get Service Man" id = "get_service_man"/>
            </form>
        </div>

</div>

<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
{% endblock %}
