{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Habitab Platform Statistics</h1> 
</div>
{% for key, value in platform_data.items() %}
	<p style="text-align: center; font-size: 28px; color : #ff0000"> {{ key }} : {{ value }} </p>
{% endfor %}
{% endblock %}
