<!DOCTYPE html>
<html lang="en">
<head>
  <title>Habitab</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'image/favicon.png') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ url_for('homepage') }}"><img class="navbar-img" src="{{ url_for('static', filename = 'image/habitab.jpg')}}"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" id = "content">
        {% block content %}
        <li><a href="#contact">About</a></li>
        {% if session['logged_in'] %} 
        <li><a href="{{ url_for('mark_unavailaibility') }}">Mark Unavailable</a></li>
        <li><a href="{{ url_for('serviceman_issueboard') }}">Issue Board</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
        <li><a href="{{ url_for('signup_page') }}">Signup</a></li> 
        {% endif %} 
        </div>   
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
<br><br>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Search.js') }}"></script>
{% block body %}{% endblock %}
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center" style="color: #000">CONTACT</h2>
  <div class="rowsp">
      <p><span class="glyphicon glyphicon-map-marker"></span> PES University</p>
      <p><span class="glyphicon glyphicon-phone"></span> 9876543210</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Habitab@habitab.com</p>
  </div>
</div>
</footer>

</body>
</html>