{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Issue Board</h1>
                {% for issue in result %}
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px; display: none">issueId : {{ issue['id'] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">User Name : {{ issue['userName'] }}</p>
                </div>
                
                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">Date : {{ issue['issueDate'] }}</p>
                </div>

                <div class="field-wrap">
                  <p style="color : #FFFFFF; font-size: 20px">Description : {{ issue['description'] }}</p>
                </div>
                
                <div class="field-wrap" id = "{{ issue['id'] }}-Status">
                  <p style="color : #FFFFFF; font-size: 20px">Status : {{ issue['status'] }}</p>
                </div>
                
                <div class="field-wrap">
                  {% if 0 == issue["status"] and 1 == issue["contactPersonStatus"] %}
                  <div class="button button-block" style = "background: #F6A800; text-align: center" >
                        <p> Awaiting For Customer Feedback </p>
                    </div>
                  {% elif 0 == issue["status"] and 0 == issue["contactPersonStatus"] %}
                    <input type="submit" class="button button-block" name = "submit" value = "Mark Complete" id = "{{ issue['id'] }}" style = "background: red"  onclick = "markIssueCompleted(this.id)" />
                  {% else %}
                    <div class="button button-block" style = "background: #47AF00; text-align: center" >
                        <p> {{ issue['status'] }}</p>
                    </div>
                  {% endif %}
                </div>
                {% endfor %}
                
        </div>
  </div>

<script type="text/javascript" src = "{{ url_for('static', filename = 'js/issueBoard.js') }}"></script>
{% endblock %}
