{% extends "base.html" %}
{% block body %}
  <div class="form">
       
        <div id="login">   
          <h1>Mark Unavailaible</h1>
                
                <div class="field-wrap">
                  <p> Start Date </p>
                  <input type="date" name="date" placeholder="Start Date" id = "startDate">
                </div>
                
                <div class="field-wrap">
                  <p> End Date </p>
                  <input type="date" name="date" placeholder="End Date" id = "endDate">
                </div>
              
                <input type="submit" class="button button-block" id = "mark_unavailable" name = "submit" value = "Submit"/>
        </div>
  </div>

<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Mark-Unavailable.js') }}"></script>
{% endblock %}