{% extends  "base.html" %}
{% block body %}
<div class="form">
  <div id="signup">   
    <h1>Sign Up</h1>
    <div id = "form">

      <div class="field-wrap">
        <input type="text" id = "firstName" autocomplete="off" placeholder="Name" />
      </div>

      <div class="field-wrap">
        <input type="text" id = "address" autocomplete="off" placeholder="Address" />
      </div>

      <div class="field-wrap">
        <input type="text" id = "phoneNumber" autocomplete="off" placeholder="Phone Number" />
      </div>

      <div class="top-row">
        <div class="field-wrap">
          <input type="text" id = "place" autocomplete="off" placeholder="Place" />
        </div>
    
        <div class="field-wrap">
          <input type="text" id = "state" autocomplete="off" placeholder="State" />
        </div>
      </div>

      <div class="field-wrap">
        <input type="text" id = "category" name = "category" autocomplete="off" placeholder="Category" />
      </div>
      
      <div class="field-wrap">
        <input type="email" id = "email-Id" name = "email" autocomplete="off" placeholder="Email-Id" />
      </div>
      
      <div class="field-wrap">
        <input type="password" id = "password" name = "password" autocomplete="off" placeholder="Password" />
      </div>
      
      <button type="submit" class="button button-block" id = "user_signup">Get Started</button>
    
    </div>
  </div>      
</div>
      

<center><p id = "outputFeedBack" style="display: none; font-size: 20px; color: rgb(228, 20, 20);"></p></center>
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/Signup.js') }}"></script>
{%  endblock %}